/* ============================================== */


/* Css reset */

* {
    margin: 0;
    padding: 0;
}


/* ============================================== */


/* Direct Tag Style */

html {
    scroll-behavior: smooth;
}

body {
    background-color: whitesmoke;
}

hr {
    margin: 1rem 0;
}

h1 {
    font-family: system-ui;
}

h2 {
    font-family: system-ui;
}

h3 {
    font-family: system-ui;
}

h4 {
    font-family: system-ui;
}

/* ============================================== */


/* Navbar Section || section-1 */
.section-1 .navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    transition: all 0.1s;
    background-color: white;
}

.section-1 .navbar #ul_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.5s;
    z-index: 1;
    background-color: white;
}

.section-1 .navbar #ul_container li:first-child:hover a {
    color: rgb(17, 24, 44);
}

.section-1 .navbar #ul_container li:first-child {
    font-weight: 90;
    text-transform: uppercase;
    font-size: 1.3rem;

}

.section-1 .navbar #ul_container li {
    text-transform: uppercase;
    list-style: none;
    margin: 0.8rem 1rem;
    font-family: Cabin;
    font-size: 1rem;
    text-align: left;
}

.section-1 .navbar #ul_container li:hover a {
    transition: all 0.2s;
    color: rgb(97, 182, 238);
}

.nav-links {
    display: flex;
    align-items: center;
}

.section-1 .navbar #ul_container li a {
    color: rgb(17, 24, 44);
    text-decoration: none;
    box-sizing: border-box;
}

#hamburger img {
    display: none;
}


/* ============================================== */



/* Landing Section || homepage_section-2 */
.homepage_section-2-bg {
    margin-top: 1.1rem;
    position: relative;
    bottom: 0;
    left: 0;
    min-height: 100vh;
}

.homepage_section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}

.homepage_section-2-bg svg {

    position: absolute;
    bottom: -10px;
    left: 0;
    padding: 0;
    margin: 0;


}

.homepage_section-2 .content {
    margin: 2rem;
}

.homepage_section-2 .content h1 {

    font-family: Cabin;
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    ;
}

.homepage_section-2 .content p {

    margin-top: 0.4rem;
    font-family: Hubballi;

    font-size: 1.2rem;
    line-height: 1.7rem;
    margin: 1rem 0rem;
    text-align: center;

    max-width: 78rem;

}

.homepage_section-2 .content h1 {
    font-size: 4rem;
    margin: 1rem 0rem;
}

.homepage_section-2 .img-container img {
    width: 25rem;
    margin-left: 2.2rem;
    box-sizing: border-box;
}


/* ============================================== */


/* Card Section || homepage_section-3 */
.homepage_section-3 {
    /* min-height: 80vh; */
    background-color: #050A3D;
    clip-path: polygon(55% 0, 100% 0, 100% 60%, 100% 93%, 0 100%, 0% 60%, 0 0);
    padding-bottom: 9rem;

}


.homepage_section-3 h1 {
    font-family: Cabin;
    font-weight: 6;
    font-size: 2rem;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
}

.homepage_section-3 .content {
    margin: 0rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage_section-3 .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.homepage_section-3 .cards .card {
    margin: 1rem 1rem;
    padding: 1.5rem 2.2rem;
    border-radius: 10px;
    /* max-width: 15rem; */
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    border: 1px solid white;
    background-color: white;
}

.homepage_section-3 .cards .card img {
    width: 3rem;
    margin: 0.2rem;
    /* filter: invert(100); */
}

.homepage_section-3 .cards .card .card-heading {

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 0.1rem 0.1rem;
}

.homepage_section-3 .cards .card .card-para {
    font-family: Quicksand;
    font-weight: bolder;
    margin: 0.4rem 0.1rem;
    line-height: 2rem;
    text-align: center;


}


/* ============================================== */


/* Testonimal Section || homepage_section-4 */
.homepage_section-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 60vh;
    margin-top: 5rem;
}

.homepage_section-4 .content {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage_section-4 h2 {
    font-family: system-ui;
    font-size: 2rem;
    padding: 1.5rem 0rem;
    font-weight: bolder;
    word-spacing: 1px;
    letter-spacing: -0.1px;
}

.homepage_section-4 .content .testonimals {
    display: flex;
    align-items: center;
    width: 45rem;
    overflow: hidden;
    scroll-behavior: smooth;
}


.homepage_section-4 .content .testonimal {
    position: relative;
    left: 0;
    top: 0;
    padding: 1.5rem 4rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 37rem;

}

.back_t {
    cursor: pointer;
    z-index: 1;
}

.forw_t {
    cursor: pointer;
    z-index: 1;
}

.homepage_section-4 .content .testonimal p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
    word-spacing: 2px;
}


.homepage_section-4 .content .info_pr .name {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    margin-top: 25px;
    font-weight: bolder;
    margin-left: 25px;
    display: block;
}

.homepage_section-4 .content .info_pr .light-work {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    margin-top: 5px;
    font-weight: 400;

    margin-left: 25px;
    display: block;
}

.homepage_section-4 .content .info_pr {
    display: flex;

}

.homepage_section-4 .content .pe_pr_ph {
    width: 7rem;
    border-radius: 25px;
    margin: 0.3rem;

}

.homepage_section-4 .content .testonimal p .comma img {
    width: 25px;
    margin: 9px 14px 3px 0px;
    filter: invert(0.3);
}


/* ============================================== */


/* Buttons Styles */

.primary-btn {
    box-sizing: border-box;
    padding: 0.75rem 1rem;
    margin-bottom: 2px;
    font-family: cabin;
    text-transform: uppercase;
    font-size: 0.8rem;
    transition: all 0.5s;
    background-color: rgb(29, 32, 63);
    color: rgb(199 199 199);
    border-radius: 9rem;
    text-decoration: none;
    animation: primary-btn-ani-bg 4s linear 0s infinite backwards;
    cursor: pointer;
    border: 4px solid transparent;
}

.primary-btn:hover {
    padding: 1rem 1.2rem;
    font-size: 0.9rem;
}

/* Primary Button Animation */
@keyframes primary-btn-ani-bg {
    25% {
        background-color: rgb(29, 32, 63);
    }

    50% {
        background-color: #3a55a0;
    }

    75% {
        background-color: #3a84a0;
    }

    100% {
        background-color: rgb(29, 32, 63);
    }
}

.secondary-btn {
    padding: 0.75rem 1rem;
    margin-bottom: 2px;
    font-family: cabin;
    font-size: 0.9rem;
    background-color: rgb(136, 132, 132);
    color: rgba(243, 236, 236, 0.849);
    border-radius: 4rem;
    transition: all 0.2s;

    text-decoration: none;
}

.secondary-btn:hover {
    background-color: rgb(73, 73, 73);
}

.normal-btn {
    padding: 0.75rem 1rem;
    margin-bottom: 2px;
    font-family: -webkit-pictograph;
    font-size: 0.7rem;
    background-color: rgb(255 224 171);
    color: rgb(0, 0, 0);
    font-weight: 600;
    border-radius: 0.2rem;
    text-decoration: none;
}

.noral-btn:hover {
    background-color: rgb(133, 132, 132);
}



/* ============================================== */

/* CONTACT-PAGE*/



/* Contact-Section-1 */

.contact_section-1 {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.contact_section-1 h2 {
    font-family: system-ui;
    font-size: 2rem;
    font-weight: bolder;
    word-spacing: 1px;
    letter-spacing: -0.1px;
}

.contact_section-1 h3 {
    font-family: system-ui;
    font-size: 1.7rem;
    font-weight: bolder;
    word-spacing: 1px;
    letter-spacing: -0.1px;
}

.contact_section-1 p {
    font-family: Quicksand;
    font: size 1.3rem;
    margin: 0.4rem 0;
    line-height: 2rem;
    font-size: 14px;
    color: black;
}

.contact_section-1 form {
    width: 100%;
    /* border:3px solid; */
    max-width: 40rem;

}


.contact_section-1 form textarea,
.contact_section-1 form input {
    margin: 0.5rem 0;
    padding: 0.4rem 0.3rem;
    background: transparent;
    border: 0.1px solid #b7b4b4ab;
    border-radius: 2px;
    max-width: 100%;
    min-width: 100%;
    font-family: quicksand;
    font-weight: 900;
    transition: 0.2s all;
    outline: 3px solid transparent;

}

.contact_section-1 form textarea:focus,
.contact_section-1 form input:focus {
    outline: 2px solid #928da5a6;
    border: 0.1px solid #807f7fce;

}



textarea:focus, input:focus {
    outline: none;
}

.contact_section-1 label {
    font-family: Cabin;
    /* font-weight: bolder; */
    color: #595959;
    font-size: 0.9rem;
    display: block;

}

.contact_section-1 .sub-btn {
    width: 82px;
    height: 35px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /* font-weight: 600; */
    transition: 0.2s all;
    font-family: Cabin;
}

.contact_section-1 .sub-btn:hover {
    box-sizing: border-box;
    background-color: rgb(183, 183, 183);
}

/* Footer */

footer {
    background-color: #eaeced;
    margin-top: 3rem;
    padding: 1rem;
    color: rgb(102, 98, 98);
    font-family: system-ui;

}

footer h3 {
    color: rgb(94 93 93);
}

footer hr {
    margin: 1rem;
    opacity: 0.3;
}

.l_r_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1rem;
}

.left_footer {
    margin-right: 0.2rem;
}

.right_footer {
    text-align: right;
}

.right_footer img {
    transition: all 0.2s;
    filter: invert(0.4);
    margin: 1px;
}

.right_footer img:hover {
    filter: invert(0);

}

.content_footer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 28vh;

}

.content_footer p {
    font-size: 0.875rem;
}

.content_footer ul li {
    list-style: none;
}

.f_items {
    margin: 1rem;
}



.f_about {
    width: 20%;
}


.f_link {
    min-width: 10%;
}

.f_con_ser .f_link {
    margin-right: 1.5rem;
}

.f_con_ser .f_contact {
    margin-left: 1.5rem;
}

.f_con_ser {
    display: flex;
    align-items: center;
    min-width: 40%;
    justify-content: space-evenly;

}

.f_contact {
    min-width: 20%;
}

.f_services {
    min-width: 20%;
}
footer .f_copyright_line{
    color: rgb(159, 159, 159);
    font-size: 13px;
    padding-left: 10px;
    border-left: 1px solid silver;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* ============================================== */





/* Media Query */
/* MOBILE DESIGN */
@media only screen and (min-width:0px) and (max-width: 549px) {

    .section-1 .navbar {
        height: 75.375px
    }

    nav #ul_container {
        border-bottom-right-radius: 10px;
        margin-top: 74.4px;
        flex-direction: column;
        position: absolute;
        top: 1px;
        left: -150px;
        display: none;
    }

    #hamburger {
        height: 50px;

    }


    #hamburger img {

        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 30px;
        margin: 0.3rem;
        margin-left: 1rem;
        margin-top: 1.4rem;
    }

    .company-name {
        display: none;
    }

    .company-name-mobile {
        list-style: none;
        font-family: Josefin Sans;
        font-size: 1.3rem;
        position: absolute;
        top: 28px;
        left: 4.5rem;

    }

    .company-name-mobile {
        display: block;
    }

    .company-name-mobile a {
        color: black;
        text-decoration: none;
        font-family: Josefin Sans;
        font-weight: 100;

    }

    .nav-icons {
        display: block;
        width: 1.5rem;
        margin: 0.5rem;
    }

    .homepage_section-2 {
        flex-wrap: wrap;
    }

    .homepage_section-2 .img-container img {
        margin: 0rem;
    }

    .homepage_section-3 p {
        font-size: 0.7rem;
    }

    .homepage_section-3 .img-container img {
        margin: 0rem;
        width: 20rem;
        ;
    }


    .section-1 .navbar #ul_container #contacta a {
        color: black;

    }

    .section-1 .navbar #ul_container #contacta:hover {
        background: #8e9bca00;
        color: cyan;
    }

    .homepage_section-3 .img-container img {
        margin-top: 6rem;
        width: 20rem;
        filter: drop-shadow(12px 11px 22px rgb(165, 165, 165));
    }

    .homepage_section-2 .content p {
        font-size: 13px;
        text-align: center;
        padding: 0rem 1rem;
    }

    .homepage_section-2 .content h1 {
        font-size: 2.6rem;
    }

    .homepage_section-2 .content {
        margin: 0.3rem;
        margin-bottom: 3.4rem;
    }

    .homepage_section-2 .content .primary-btn {
        margin-top: 0rem;
    }

    .homepage_section-2 .img-container img {
        margin-top: 5rem;
        width: 19rem;
    }

    .homepage_section-3 {
        flex-wrap: wrap;
    }

    .homepage_section-4 {
        flex-wrap: wrap;
    }

    .homepage_section-4 .testonimal {
        flex-wrap: wrap-reverse;
    }

    .homepage_section-4 .content img {
        width: 10rem;
        margin: 0;
    }

    .homepage_section-3 .cards {
        margin-bottom: 2rem;
    }

    .homepage_section-2 {
        flex-wrap: wrap;
    }

    .homepage_section-4 .content {
        padding: 0;
    }

    .homepage_section-4 .content .testonimals {
        width: 19rem;
    }

    /* .homepage_section-4 .content .testonimals .testonimal p .name{ */

    .homepage_section-4 .content .testonimals .testonimal {
        min-width: 15rem;
        padding: 0.3rem 2rem;
    }

    .homepage_section-4 .content .pe_pr_ph {
        width: 4.5rem;
    }

    .homepage_section-4 .content .info_pr .name {

        margin-left: 15px;
    }

    .homepage_section-4 .content .info_pr .light-work {

        margin-left: 15px;
    }

    .homepage_section-4 .content .testonimal p {
        font-size: 0.9rem;
    }

    .contact_section-1 h2 {
        font-size: 1.05rem;
    }

    .contact_section-1 p {
        line-height: 1.2rem;
        font-size: 9px;
    }

    .contact_section-1 h3 {
        font-size: 1rem;
    }

    .contact_section-1 label {
        font-size: 0.8rem;
    }

    .contact_section-1 form textarea, .contact_section-1 form input {
        font-size: 10px;
    }

    .l_r_footer {
        font-size: 13px;

    }

    .right_footer img {
        width: 1.3rem;
    }

    .material-symbols-outlined {
        font-size: 18px;
        ;
    }

    .content_footer {
        justify-content: left;
    }

    footer {
        font-size: 11px;
        ;
        padding: 5px;

    }

    footer h3 {
        font-size: 15px;
        ;
    }

    .footer hr {
        margin: 5px;
    }

    .f_con_ser {
        margin: auto;
        justify-content: space-between;
    }

    .f_link {
        margin: 1rem 0rem;
    }

    .f_about {
        min-width: 85%;
        max-width: 85%;
        margin: auto;
    }



    .f_con_ser .f_link {
        margin-right: 2rem;
    }

    .f_con_ser .f_contact {
        margin-left: 2rem;
    }

    .homepage_section-4 .content .info_pr .name {
        margin-left: 5px;
        font-size: 0.6rem;
    }

    .homepage_section-4 .content .info_pr .light-work {
        margin-left: 5px;
        font-size: 0.6rem;
    }
    footer hr {
        margin: 5px;
    }
}


/* TAB DESIGN */
@media only screen and (min-width: 550px) and (max-width:900px) {

    #hamburger {
        display: none;
    }

    nav #ul_container {
        flex-direction: row;
        transition: all 0.1s;
    }

    nav #ul_container .nav-items {
        display: block;
    }

    .company-name {
        display: block;

    }

    .company-name-mobile {
        display: none;
    }

    .nav-icons {
        display: none;
    }

    .homepage_section-2 {
        flex-wrap: wrap;
    }

    .homepage_section-2 .img-container img {
        margin-top: 3.5rem;
    }

    .homepage_section-2 .content h1 {
        font-size: 3rem;
    }

    .homepage_section-2 .content p {
        font-size: initial;
    }

    .homepage_section-3 .cards {

        margin-bottom: 0rem;
    }

    .homepage_section-4 .testonimal {
        flex-wrap: nowrap;
    }

    .homepage_section-4 .content {
        padding: 0;
    }

    .homepage_section-4 .content .testonimals {
        width: 31rem;
    }

    .homepage_section-4 .content .testonimals .testonimal {
        min-width: 25rem;
        padding: 1rem 3rem;
    }

    .contact_section-1 h2 {
        font-size: 1.5rem;
    }

    .f_about {
        min-width: 85%;
        max-width: 85%;
        margin: auto;
    }

    .f_con_ser {
        /* width: 100%; */
        justify-content: center;

    }

    
}


/* LAPTOP WIDE SCREEN */
@media only screen and (min-width:900px) {
    #hamburger {
        display: none;
    }

    nav #ul_container {
        flex-direction: row;
        transition: all 0.1s;
    }

    nav #ul_container .nav-items {
        display: block;
    }

    .company-name {
        display: block;

    }

    .company-name-mobile {
        display: none;
    }

    .nav-icons {
        display: none;
    }


}

/* Special REsponsiveness */
@media only screen and (min-width:0px) and (max-width: 420px) {
    .f_con_ser {
        justify-content: flex-start;
        max-width: 85%;

        min-width: 85%;
    }

    .f_services {
        min-width: 85%;
        max-width: 85%;
        margin: auto;
    }

    .homepage_section-2 .img-container img {
        width: 15rem;
        margin-left: 2.2rem;
        box-sizing: border-box;
    }

    .homepage_section-2 .content h1 {
        font-size: 2.2rem;
    }
}

@media only screen and (min-width:0px) and (max-width: 320px) {
    .homepage_section-4 .content .testonimal p {
        font-size: 0.8rem;
    }
}